@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(0.9791 0 0);
  --foreground: oklch(0.3539 0.0240 231.5594);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3539 0.0240 231.5594);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3539 0.0240 231.5594);
  --primary: oklch(0.5225 0.1130 132.9163);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7390 0.0564 123.8131);
  --secondary-foreground: oklch(0.3539 0.0240 231.5594);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.5090 0.0311 148.4164);
  --accent: oklch(0.9310 0 0);
  --accent-foreground: oklch(0.3539 0.0240 231.5594);
  --destructive: oklch(0.5584 0.1430 22.8861);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9551 0 0);
  --ring: oklch(0.7390 0.0564 123.8131);
  --chart-1: oklch(0.5225 0.1130 132.9163);
  --chart-2: oklch(0.7390 0.0564 123.8131);
  --chart-3: oklch(0.6312 0.1166 134.9013);
  --chart-4: oklch(0.9040 0.0624 115.5097);
  --chart-5: oklch(0.4165 0.0813 141.4910);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.3539 0.0240 231.5594);
  --sidebar-primary: oklch(0.4165 0.0813 141.4910);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9310 0 0);
  --sidebar-accent-foreground: oklch(0.3539 0.0240 231.5594);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.7390 0.0564 123.8131);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.25rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.3539 0.0240 231.5594);
  --foreground: oklch(0.9791 0 0);
  --card: oklch(0.3047 0.0195 229.8048);
  --card-foreground: oklch(0.9791 0 0);
  --popover: oklch(0.3047 0.0195 229.8048);
  --popover-foreground: oklch(0.9791 0 0);
  --primary: oklch(0.6312 0.1166 134.9013);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5225 0.1130 132.9163);
  --secondary-foreground: oklch(0.9791 0 0);
  --muted: oklch(0.4120 0.0320 234.9073);
  --muted-foreground: oklch(0.7390 0.0564 123.8131);
  --accent: oklch(0.4165 0.0813 141.4910);
  --accent-foreground: oklch(0.9791 0 0);
  --destructive: oklch(0.6339 0.1433 21.9939);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4586 0.0279 240.6438);
  --input: oklch(0.4120 0.0320 234.9073);
  --ring: oklch(0.6312 0.1166 134.9013);
  --chart-1: oklch(0.6312 0.1166 134.9013);
  --chart-2: oklch(0.5225 0.1130 132.9163);
  --chart-3: oklch(0.7390 0.0564 123.8131);
  --chart-4: oklch(0.4165 0.0813 141.4910);
  --chart-5: oklch(0.6992 0.0584 151.2077);
  --sidebar: oklch(0.3047 0.0195 229.8048);
  --sidebar-foreground: oklch(0.9791 0 0);
  --sidebar-primary: oklch(0.6312 0.1166 134.9013);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4165 0.0813 141.4910);
  --sidebar-accent-foreground: oklch(0.9791 0 0);
  --sidebar-border: oklch(0.4586 0.0279 240.6438);
  --sidebar-ring: oklch(0.7390 0.0564 123.8131);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.25rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
} 

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
